<%- include('partials/header') -%>
<div class="container my-2">
<h1>Woops !</h1>
<p>Something wrong happened... Get back to <a href="">home</a>.</p>
<small><%- encodeForHtml(error) %></small>
</div>
<%- include('partials/footer') -%>