<%- include('partials/header') -%>
<%- include('partials/navbar') -%>
<div class="container">
    <div class="card my-2">
        <div class="card-header">
            
            <h4>Profile of <span id="username"></span></h4>
        </div>
        <div class="card-body">
            <a href="/">Back to posts</a>
            <img id="picture">
            <p><b>Email:</b> <span id="email"></span></p>
            <p><b>Created at:</b> <span id="created-at"></span></p>
        </div>
    </div>
</div>
<script type="application/javascript">

    window.addEventListener('load', function (){

        const user = <%- JSON.stringify(user) %>

        const picture = document.getElementById('picture')
        picture.src = user.picture ?  `/static/user_img/${user.picture}` : '/static/user.png'
        picture.style.borderRadius = '25px'
        picture.height = '100'
        picture.width = '100'
        picture.style.display = 'inline'
        picture.style.objectFit = 'cover'
        picture.className = 'm-2 d-block'

        document.getElementById('username').textContent = user.username
        document.getElementById('email').textContent = user.email
        document.getElementById('created-at').textContent = new Date(user.createdAt).toLocaleString()
    })

</script>
<%- include('partials/footer') -%>